
input[type="text"] {
    padding: 15px;
    border-radius: 30px;
    border: 2px solid $secondary;
    width: 75%;
}

.button {
    padding: 15px 35px 15px 35px;
    border-radius: 30px;
    background: $secondary;
    color: $background;
    font-weight: bold;
    transition: .2s;
    border:0;
    &:hover {
        background: $primary;
        cursor: pointer;
        color: $background;
    }
}

.form-container {
    display: block;
    margin: 50px auto 0 auto;
    width: 90%;
    flex-direction: column;
    align-content: center;
}