@import 'variables';
@import 'normalize';
@import 'typography';
@import 'forms';
@import 'imgs';

html {
    background: $background;
}

// .container {
//     max-width: 75vw;
//     margin: 0 auto 0 auto;
// }

.container-root {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.container-content {
    max-width: 70vw;
    z-index: 1;
}

.notes-container {
    width: 23%;
    padding-top: 50px;
}

.notes {
    background: #fff;
    border-radius: 9px;
    box-shadow: 3px 3px 10px #E3E3E3;
    padding: 25px;
    height: 100%;
}

.note-input {
    border:0;
    width: 100%;
    margin-top: 15px;
    height: calc(100% - 40px)
}

.row {
    display: flex;
    justify-content: space-around;
}

.card {
    background: #fff;
    padding: 25px;
    margin-top: 50px;
    min-width: 25%;
    border-radius: 9px;
    box-shadow: 3px 3px 10px #E3E3E3;
}

.full-width {
    width: 100%;
}

